<!DOCTYPE html>
<html>

    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <title>My microsevice</title>
        <h1>Microservice webbisovellus</h1>
        <h3>by Thomas</h3>
    </head>
    <body>
        <p>Toinen versioni mikropalvelusta. Erona tällä ensimmäiseen on, 
            että rajapinnat on luotu Swagger editoria käyttäen ja tämä palvelu käyttää
            vain yhtä Docker-konttia ja palvelinta. Rajapinnat ovat /trex ja /cowsaymoo
        </p>
    </body>
</html>